fastapi >= 0.104.1
uvicorn==0.20.0
bcrypt==4.0.1
PyJWT==2.8.0
passlib==1.7.4
anyio>=3.7.1
pytest-asyncio==0.21.1
pytest-twisted==1.14.0
twisted==23.10.0
service_identity==23.1.0
requests==2.31.0
SQLAlchemy==2.0.23
environs==9.5.0
gunicorn==21.2.0
pandas==2.2.2
numpy==1.26.4
psycopg2==2.9.10
email-validator==2.2.0
python-multipart==0.0.6
marshmallow==3.20.1
fastapi-mail==1.4.1
pydantic[email]==2.4.2